/* src/App.module.css */

.App {
  background-color: #D6B493; /* Changed to FatCat Tan background #D6B493 */
  min-height: 100vh; /* Extend background to the bottom of the screen */
}

button {
  background-color: #E6844C; /* Pink color for buttons */
  color: black;
  border: 1px solid black; /* Added dark border */
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 7px; /* Added 7px margin */
}

button:hover {
  background-color: #E5E076; /* Darker shade of pink on hover */
}

.App-header {
  display: flex;
  justify-content: space-between; /* Align items to the ends */
  padding: 7px; /* Added 7px padding */
  align-items: center; /* Align items vertically */
}

ul {
  list-style: none;
  padding: 7px;
}

li {
  margin: 5px 0;
  padding-left: 7px; /* Ensure padding at the far left of each new line */
}

li.user {
  color: blue;
  padding-left: 7px; /* Enforcing padding for text on new lines */
}

li.assistant {
  color: green;
  padding-left: 7px;
}

form {
  display: flex;
  flex-direction: column; /* Changed to column layout */
}

input, textarea {
  flex-grow: 1;
  padding: 10px;
  margin: 7px 0; /* Updated margin */
  width: calc(98% - 22px); /* Adjust width for padding */
}

.button-container {
  display: flex;
  justify-content: flex-start; /* Align buttons to the start */
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
  margin: 7px 0; /* Added 7px margin */
}
