/* src/App.module.css */

/* src/App.module.css */

.App {
  background-color: #D6B493; /* Changed to FatCat Tan background #D6B493 */
}

button {
  background-color: #fdb9d0; /* Pink color for buttons */
  color: white;
  border: 1px solid black; /* Added dark border */
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 7px; /* Added 7px margin */
}

button:hover {
  background-color: #f05085; /* Darker shade of pink on hover */
}

.App-header {
  /* styles for the header */
  display: flex;
  justify-content: space-between; /* Align items to the ends */
  padding: 7px; /* Added 7px padding */
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 5px 0;
}

li.user {
  color: blue;
}

li.assistant {
  color: green;
}

form {
  display: flex;
  flex-direction: column; /* Changed to column layout */
}

input,
textarea {
  flex-grow: 1;
  padding: 10px;
  margin: 7px 0; /* Updated margin */
  width: calc(100% - 14px); /* Adjust width for padding */
}

.button-container {
  display: flex;
  justify-content: flex-start; /* Align buttons to the start */
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
}
